.contact__up-pointer {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/up.svg);
    background-repeat: no-repeat;
    background-position: center;





}