.portfolio__right-pointer {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFAF2;
    background-color: #C66C49;

}