.portfolio__info-container {
    display: flex;
    flex-direction: column;
    width: 150px;
}

@media (max-width: 600px) {
    .portfolio__info-container {

        align-items: center;





    }
}