.hero-section__logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #FFFFFF;
}

@media (max-width: 600px) {
    .hero-section__logo {
        margin-bottom: 20px;
    }
}